*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 1440px;
    margin: auto;
    overflow: hidden;
}
.header{
    position: absolute;
    width: 1440px;
    height: 32px;
    background-color: black;
    text-align: center;
}
#Phone{
    position: absolute;
    width: 13.96px;
    height: 14px;
    left: 9.07%;
    right: 89.96%;
    top: 9px;
    color: #F1F1F1;
}
#circle-1{
    position: absolute;
    height: 3.29px;
    left: 9.62%;
    right: 90.15%;
    top: 11.76px;
    color: #F1F1F1;
}
#circle-2{
    position: absolute;
    height: 4.91px;
    left: 9.66%;
    right: 90%;
    top: 9.55px;
    color: #F1F1F1;
}
#header-title-1{
    position: absolute;
    width: 84px;
    height: 15px;
    left: 153px;
    top: 8px;

    font-family: Lexend;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #F1F1F1;
}
#in{
    position: absolute;
    height: 5px;
    left: 18.84%;
    right: 80.82%;
    top: 12px;
    color: #F1F1F1;
}
#out{
    position: absolute;
    height: 14px;
    left: 18.63%;
    right: 80.61%;
    top: 9px;
    color: #F1F1F1;
}
#header-title-2{
    position: absolute;
    width: 235px;
    height: 15px;
    left: 288px;
    top: 8px;
    font-family: Lexend;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #F1F1F1;
}
#star-1{
    position: absolute;
    width: 14px;
    height: 14px;
    left: 1032px;
    top: 9px;
    color: #F1F1F1;
}
#star-2{
    position: absolute;
    width: 14px;
    height: 14px;
    left: 1050.67px;
    top: 9px;
    color: #F1F1F1;
}
#star-3{
    position: absolute;
    width: 14px;
    height: 14px;
    left: 1069.33px;
    top: 9px;
    color: #F1F1F1;
}
#star-4{
    position: absolute;
    width: 14px;
    height: 14px;
    left: 1088px;
    top: 9px;
    color: #F1F1F1;
}
#star-5{
    position: absolute;
    width: 14px;
    height: 14px;
    left: 1106.67px;
    top: 9px;
    color: #F1F1F1;
}
#header-title-3{
    position: absolute;
    width: 182px;
    height: 15px;
    left: 1128.67px;
    top: 8px;
    color: #F1F1F1;
    font-family: Lexend;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
}
.header-1{
    position: absolute;
    width: 1440px;
    height: 123px;
    top: 32px;  
    background: #FBFBFB;
    mix-blend-mode: screen;
}
#header-title-1-1{
    position: absolute;
    width: 120px;
    height: 50px;
    left: 130px;
    padding-top: 35px;
    font-family: Germania One;
    font-style: normal;
    font-weight: bold;
    font-size: 43px;
    line-height: 50px;
    color: #1A1A1A;
}
#header-title-1-2{
    position: absolute;
    width: 32px;
    height: 20px;
    left: 318px;
    margin-top: 50px;
    font-family: Lexend;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #1A1A1A;
}
#header-title-1-2-1{
    position: absolute;
    width: 32px;
    height: 2px;
    left: 318px;
    margin-top: 54px;
    font-weight: bold;
    color: #1A1A1A;
}
#header-title-1-3{
    position: absolute;
    width: 58px;
    height: 20px;
    left: 390px;
    margin-top: 50px;
    font-family: Lexend;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #1A1A1A;
}
#Search{
    position: absolute;
    width: 380px;
    height: 38px;
    left: 530px;
    margin-top: 41px;
    background: #FFFFFF;
    border: 1px solid #9A9A9A;
    box-sizing: border-box;
}
#Search-1{
    position: absolute;
    width: 100px;
    height: 38px;
    background: #1A1A1A;
    margin-top: 41px;
    left: 815px;
    font-family: Lexend;
    font-style: normal;
    font-weight: normal;
    padding-top: 11px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
}
#Search-2{
    position: absolute;
    width: 102px;
    height: 18px;
    left: 540px;
    top: 51px;
    font-family: Lexend;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #9A9A9A;
}
#header-title-2-1{
    position: absolute;
    left: 826px;
    margin-top: 53px;
    width: 12.35px;
    height: 12.35px;
    color: #FFFFFF;
}
#header-title-2-2{
    position: absolute;
    margin-top: 62.84px;
    left: 835.84px;
    width:  4.16px;
    height: 4.16px;
    color: #FFFFFF;
}
#header-title-2-3{
    position: absolute;
    margin-top: 50px;
    left: 983.63px;
    width:  14.25px;
    height: 14.29px;
}
#header-title-2-4{
    position: absolute;
    margin-top: 63.06px;
    left: 980.57px;
    width:  20.97px;
    height: 6.94px;
}
#header-title-2-5{
    position: absolute;
    width: 70px;
    height: 13px;
    left: 1020px;
    margin-top: 42px;
    font-family: Lexend;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    color: #1A1A1A;
}
#header-title-2-5:hover {
    color: blue;
}
#header-title-2-6{
    position: absolute;
    width: 54px;
    height: 18px;
    left: 1020px;
    margin-top: 59px;   
    font-family: Lexend;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;   
    text-align: center;   
    color: #1A1A1A;
}
#header-title-2-6:hover {
    color: blue;
}
#header-title-2-7{
    position: absolute;
    height: 6px;
    left: 1079px;
    margin-top: 65px;
}
#header-title-2-8{
    position: absolute;
    width: 21.36px;
    height: 18px;
    left: 1122.1px;
    margin-top: 51px;
}
#header-title-2-9{
    position: absolute;
    width: 50px;
    height: 18px;
    left: 1162.86px;
    margin-top: 54px;   
    font-family: Lexend;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;   
    text-align: center;   
    color: #1A1A1A;
}
#header-title-2-10-1{
    position: absolute;
    height: 16.23px;
    left: 1241.41px;
    margin-top: 50px;
}
#header-title-2-10-2{
    position: absolute;
    height: 8.68px;
    left: 1244.42px;
    margin-top: 53.77px;
}
#header-title-2-10-3{
    position: absolute;
    height: 4.91px;
    left: 1245.54px;
    margin-top: 65.09px;
}
#header-title-2-10-4{
    position: absolute;
    height: 4.91px;
    left: 1254.33px;
    margin-top: 65.09px;
}
#header-title-2-11{
    position: absolute;
    width: 29px;
    height: 18px;
    left: 1277.86px;
    margin-top: 51px;   
    font-family: Lexend;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;   
    color: #1A1A1A;
    
}
.header-2{
    position: absolute;
    width: 1440px;
    height: 37px;
    top: 165px;
    background: #FFFFFF;
    text-align: center;
}
#menu ul {
	list-style: none;
    margin-left: 249px;
}
#menu ul li {
	display: inline;
	float: left;
}
#menu li a {
	font-weight: 400;
	font-size: 14px;
	color: black;
	display: inline;
	padding: 16px 30px 16px 30px;
	text-decoration: none;
    border-top: 1px solid #f1f1f1;
    border-right: 1px solid #f1f1f1;
}
#menu-1{
    position: absolute;
    width: 29px;
    height: 18px;
    left: 1163px;
    margin-top: 3.5px; 
    font-family: Lexend;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #1A1A1A;   
}
.header-3{
	position: absolute;
    width: 1440px;
    height: 598px;
    top: 202px;
    background: #CDDDF0;
}
#header-title-3-1{
    position: absolute;
    width: 680px;
    height: 460px;
    top: 81px;
    left: 552px;   
}
#header-title-3-2{
    position: absolute;
    width: 78px;
    height: 18px;
    left: 130px;
    top: 103px;
    font-family: Lexend;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #1A1A1A;
}
#header-title-3-3{
    position: absolute;
    width: 40px;
    height: 0px;
    left: 205px;
    top: 113px;
    border: 1px solid #1A1A1A;
}
#header-title-3-4{
    position: absolute;
    width: 450px;
    height: 73px;
    left: 130px;
    top: 137px;
    font-family: Lexend;
    font-style: normal;
    font-weight: 600;
    font-size: 58px;
    line-height: 72px;
    color: #1A1A1A;
}
#header-title-3-5{
    position: absolute;
    width: 563px;
    height: 73px;
    left: 219px;
    top: 223px;
    font-family: Lexend;
    font-style: normal;
    font-weight: 600;
    font-size: 58px;
    line-height: 72px;
    color: #1A1A1A;
}
#header-title-3-6{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 32px;
    position: absolute;
    width: 121px;
    height: 38px;
    left: 130px;
    top: 386px;
    background: #1A1A1A;
}
#header-title-3-7{
    position: absolute;
    width: 121px;
    height: 38px;
    left: 153px;
    top: 368px;
    font-family: Lexend;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 72px;
    color: white;
}
#header-title-3-8{
    position: absolute;
    width: 7.63px;
    left: 316.17px;
    top: 398.16px;
    height: 9.69px;
    color: #1A1A1A;
}
#header-title-3-9{
    position: absolute;
    width: 25.93px;
    height: 26px;
    left: 306.17px;
    color: #1A1A1A;
    top: 390px;
}
#header-title-3-10{
    position: absolute;
    width: 89px;
    height: 18px;
    top: 395px;
    left: 342px;
    font-family: Lexend;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #1A1A1A;
}
#header-title-3-11{
    position: absolute;
    width: 570px;
    height: 605px;
    left: 682px;
    top: 5px;
}
#header-title-3-12{
    position: absolute;
    width: 105px;
    height: 36px;
    left: 1089px;
    top: 477px;
    font-family: Lexend;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 17px;
    text-align: right;
    color: #1A1A1A;
}
#header-title-3-13{
    position: absolute;
    width: 105px;
    height: 36px;
    left: 1089px;
    top: 507px;
    font-family: Lexend;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 17px;
    text-align: right;
    color: #fbfbfb;
}
#header-title-3-14{
    position: absolute;
    width: 40px;
    height: 2px;
    top: 527px;
    left: 130px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
}
#header-title-3-15{
    position: absolute;
    width: 40px;
    height: 2px;
    top: 527px;
    left: 178px;
    color: #B3C4D7;
}
#header-title-3-16{
    position: absolute;
    width: 40px;
    height: 2px;
    top: 527px;
    left: 226px;
    border: 1px solid #B3C4D7;
    box-sizing: border-box;
}
.header-4{
    position: absolute;
    width: 1440px;
    height: 147px;
    top: 800px; 
    background: #FFFFFF;
}
#header-title-4-1{
    position: absolute;
    width: 83px;
    height: 60px;
    left: 129px;
    top: 55px;
}
#header-title-4-2{
    position: absolute;
    width: 62px;
    height: 60px;
    left: 284px;    
    top: 55px;
}
#header-title-4-3{
    position: absolute;
    width: 135px;
    height: 67px;
    left: 418px;
    top: 55px;
}
#header-title-4-4{
    position: absolute;
    width: 128px;
    height: 67px;
    left: 625px;
    top: 55px;
}
#header-title-4-5{
    position: absolute;
    width: 128px;
    height: 67px;
    left: 825px;
    top: 55px;
}
#header-title-4-6{
    position: absolute;
    width: 49px;
    height: 60px;
    left: 1025px;
    top: 55px;
}
#header-title-4-7{
    position: absolute;
    width: 1px;
    height: 70px;
    left: 1095.92px;
    top: 48px;
    border: 1px solid #F1F1F1;
}
#header-title-4-8{
    position: absolute;
    width: 40px;
    height: 0px;
    left: 1144px;
    top: 80px;
    border: 1px solid #1A1A1A;
}
#header-title-4-9{
    position: absolute;
    width: 127px;
    height: 18px;
    left: 1182px;
    top: 75px;
    font-family: Lexend;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 17px;
    text-align: right;
    color: #1A1A1A;
}
.header-5{
    position: absolute;
    top: 940px;
    background-color: #F1F1F1;
    width: 1440px;
    height: 1670px;
}
.header-title-5{
    position: absolute;
    top: 120px;
    left: 138px;
    width: 1180px;
    height: 654px;
    background-color: #F1F1F1;
}
#header-title-5-1{
    position: absolute;
    width: 445px;
    height: 50px;
    top: 0px;
    font-family: Lexend;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    color: #1A1A1A;
}
#header-title-5-2{
    position: absolute;
    width: 100px;
    height: 0px;
    left: 312px;
    top: 40px;
    border: 2px solid #1A1A1A;
}
#header-title-5-3{
    position: absolute;
    width: 380px;
    height: 550px;
    left: 0px;
    top: 104px;
}
#header-title-5-4{
    position: absolute;
    width: 185px;
    height: 260px;
    left: 985px;
    top: 85px;
}
#header-title-5-5{
    position: absolute;
    width: 225.33px;
    height: 295px;
    left: 848px;
    top: 279px;
}
#header-title-5-6{
    position: absolute;
    width: 484px;
    height: 150px;
    left: 293px; 
    top: 119px;  
    font-family: Lexend;
    font-style: normal;
    font-weight: 600;
    font-size: 120px;
    line-height: 150px;
    color: #1A1A1A;
    box-sizing: border-box;
}
#header-title-5-7{
    position: absolute;
    width: 578px;
    height: 150px;
    left: 493px;
    top: 264px;
    font-family: Lexend;
    font-style: normal;
    font-weight: 600;
    font-size: 120px;
    line-height: 150px;
}
#header-title-5-8{
    position: absolute;
    width: 350px;
    height: 36px;
    left: 486px;
    top: 435px;
    font-family: Lexend;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 17px;
    color: #1A1A1A;
}
#header-title-5-9{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 32px;
    background: #1A1A1A;
    position: absolute;
    width: 132px;
    height: 38px;
    left: 486px;
    top: 616px;
}
#header-title-5-10{
    position: absolute;
    width: 75px;
    height: 18px;
    left: 515px;
    top: 626px;
    font-family: Lexend;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
}
#header-title-5-11{
    position: absolute;
    width: 329.83px;
    height: 211.09px;
    left: 794px;
    top: 354px;
}
#header-title-5-12{
    position: absolute;
    width: 222.11px;
    height: 133.68px;
    left: 967.5px;
    top: 134px;
}
.header-title-5-0{
    position: absolute;
    top: 804px;
    width: 1179.45px;
    height: 586px;
    background-color: #f1f1f1;
}
#header-title-5-13{
    position: absolute;
    width: 873px;
    height: 50px;
    margin-top: 0px;
    margin-left: 0px;
    Font-family: Lexend;
    Font-style: SemiBold;
    Font-size: 40px;
    text-align: Left;
    vertical-align: Top;
    font-weight: 600;
    line-height: 50px;
}
#header-title-5-14{
    position: absolute;
    width: 60px;
    padding-left: 795px;
    padding-top: 20px;
}
#header-title-5-15{
    position: absolute;
    padding-top: 150.26px;
    padding-left: 0px;
    width: 586px;
    height: 587px;
}
#header-title-5-16{
    position: absolute;
    background: #FBFBFB;
    top: 498px;
    left: 556px;
    width: 523px;
    height: 61px;
}
#header-title-5-17{
    position: absolute;
    left: 608px;
    top: 522.5px;
    width: 350px;
    height:  18px;
    font-family: Lexend;
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
    line-height: 17.5px;
    color: #1A1A1A;
}
#header-title-5-18{
    position: absolute;
    padding-left: 121px;
    width: 57px;
    height: 21px;
    font-family: Lexend;
    font-weight: 700;
    font-style: normal;
    font-size: 17px;
    line-height: 21.25px;
    color: #1A1A1A;
    text-align: right;
}
#header-title-5-19{
    position: absolute;
    padding-top: 186px;
    padding-left: 556px;
    width: 1079.45px;
    height: 486px;
}
.header-6{
    position: absolute;
    width: 1440px;
    height: 560px;
    top: 1667px;
    opacity: 80%;
    background:#CDDDF0;
}
#header-title-6-1{
    position: absolute;
    width: 82px;
    height: 18px;
    top: 100px;
    left: 130px;
    font-family: Lexend;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 17.5px;
    text-align: center;
    color: #1A1A1A;
}
#header-title-6-2{
    position: absolute;
    width: 40px;
    padding-top: 94px;
    padding-left: 220px;
    color: #1A1A1A;
}
#header-title-6-3{
    position: absolute;
    width: 359px;
    height: 60px;
    top: 134px;
    left: 130px;
    font-family: Lexend;
    font-weight: 600;
    font-style: normal;
    font-size: 48px;
    line-height: 60px;
    color: #1A1A1A;
}
#header-title-6-4{
    position: absolute;
    width: 376px;
    height: 60px;
    top: 202px;
    left: 130px;
    font-family: Lexend;
    font-weight: 600;
    font-style: normal;
    font-size: 48px;
    line-height: 60px;
    color: #1a1a1a;
}
#header-title-6-5{
    position: absolute;
    top: 286px;
    left: 130px;
    width: 300px;
    height: 54px;
    font-family: Lexend;
    font-weight: 400;
    font-style: normal;
    font-size: 19px;
    line-height: 17.5px;
    color:#1A1A1A;
}
#header-title-6-6{
    position: absolute;
    top: 422px;
    left: 130px;
    width: 121px;
    height: 38px;
    color: #1A1A1A;
}
#header-title-6-7{
    position: absolute;
    top: 432px;
    left: 162px;
    width: 57px;
    height: 18px;
    color: #FFFFFF;
    font-family: Lexend;
    font-style: normal;
    text-align: center;
    font-size: 14px;
}
#header-title-6-8{
    position: absolute;
    width: 412px;
    height: 474px;
    top: 0;
    left: 484px;
}
#header-title-6-9{
    position: absolute;
    width: 412px;
    height: 474px;
    top: 0;
    left: 624px;

}
#header-title-6-10{
    position: absolute;
    width: 412px;
    height: 474px;
    top: 0px;
    left: 764px;
}
#header-title-6-11{
    position: absolute;
    width: 412px;
    height: 474px;
    top: 0px;
    left: 904px;
}
#header-title-6-12{
    position: absolute;
    width: 412px;
    height: 474px;
    top: 0px;
    left: 1044px;
}
.header-7{
    position: absolute;
    top: 2227px;
    width: 1440px;
    height: 2330px;
    background-color: #FFFFFF;
}
.header-title-7{
    position: absolute;
    width: 1180px;
    height: 994px;
    left: 130px;
    top: 180px;
    background-color: #FFFFFF;
}
.header-title-7-0{
    position: absolute;
    width: 1180px;
    height: 856px;
    left: 130px;
    top: 1354px;
    background-color: #F1F1F1F1;
}
#header-title-7-2{
    position: absolute;
    width: 274px;
    height: 50px;
    top: 0px;
    left: 0px;
    font-family: Lexend;
    font-weight: 600;
    font-style: normal;
    font-size: 40px;
    line-height: 50px;
    color: #1A1A1A;
}
#header-title-7-2-1{
    position: absolute;
    width: 1180px;
    height: 994px;
    top: 23px;
    left: 240px;
    font-weight: 600;
}
#header-title-7-3{
    position: absolute;
    width: 280px;
    height: 285px;
    top: 150px;
    left: 0px;
    background: url('/images/buy/background.png');
}
#header-title-7-3-1{
    position: absolute;
    width: 20px;
    height: 18px;
    top: 170px;
    left: 210px;
}
#header-title-7-3-2{
    position: absolute;
    width: 240px;
    height: 18px;
    top: 455px;
    left: 30px;
    font-family: Lexend;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #1A1A1A;
}
#header-title-7-3-3{
    position: absolute;
    width: 57px;
    height: 21px;
    top: 491px;
    left: 30px;
    font-family: Lexend;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 21px;
    color: #1A1A1A;
}
#header-title-7-3-4{
    position: absolute;
    width: 51px;
    height: 15px;
    top: 496px;
    left: 189px;
    font-family: Lexend;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #1A1A1A;
}
#header-title-7-4{
    position: absolute;
    width: 280px;
    height: 285px;
    top: 150px;
    left: 300px;
    background: url('/images/buy/background.png');
}
#header-title-7-4-1{
    position: absolute;
    width: 20px;
    height: 18px;
    top: 170px;
    left: 540px;
}
#header-title-7-4-2{
    position: absolute;
    width: 240px;
    height: 18px;
    top: 455px;
    left: 320px;
    font-family: Lexend;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #1A1A1A;       
}
#header-title-7-4-3{
    position: absolute;
    width: 57px;
    height: 21px;
    top: 491px;
    left: 320px;
    font-family: Lexend;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 21px;
    color: #1A1A1A;
}
#header-title-7-4-4{
    position: absolute;
    width: 51px;
    height: 15px;
    top: 496px;
    left: 515px;
    font-family: Lexend;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #1A1A1A;
}
#header-title-7-5{
    position: absolute;
    width: 280px;
    height: 285px;
    top: 150px;
    left: 600px;
    background: url('/images/buy/background.png');
}
#header-title-7-5-1{
    position: absolute;
    width: 20px;
    height: 18px;
    top: 170px;
    left: 840px;
}
#header-title-7-5-2{
    position: absolute;
    width: 240px;
    height: 18px;
    top: 455px;
    left: 620px;
    font-family: Lexend;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #1A1A1A;       
}
#header-title-7-5-3{
    position: absolute;
    width: 57px;
    height: 21px;
    top: 491px;
    left: 620px;
    font-family: Lexend;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 21px;
    color: #1A1A1A;
}
#header-title-7-5-4{
    position: absolute;
    width: 51px;
    height: 15px;
    top: 496px;
    left: 808px;
    font-family: Lexend;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #1A1A1A;
}

#header-title-7-6{
    position: absolute;
    width: 280px;
    height: 285px;
    top: 150px;
    left: 900px;
    background: url('/images/buy/background.png');
}
#header-title-7-6-1{
    position: absolute;
    width: 20px;
    height: 18px;
    top: 170px;
    left: 1140px;
}
#header-title-7-6-2{
    position: absolute;
    width: 240px;
    height: 18px;
    top: 455px;
    left: 920px;
    font-family: Lexend;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #1A1A1A;       
}
#header-title-7-6-3{
    position: absolute;
    width: 57px;
    height: 21px;
    top: 491px;
    left: 920px;
    font-family: Lexend;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 21px;
    color: #1A1A1A;
}
#header-title-7-6-4{
    position: absolute;
    width: 51px;
    height: 15px;
    top: 496px;
    left: 1108px;
    font-family: Lexend;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #1A1A1A;
}
#header-title-7-7{
    position: absolute;
    width: 280px;
    height: 285px;
    top: 612px;
    left: 0px;
    background: #F1F1F1
}
#header-title-7-7-1{
    position: absolute;
    width: 20px;
    height: 18px;
    top: 632px;
    left: 210px;
}
#header-title-7-7-2{
    position: absolute;
    width: 240px;
    height: 18px;
    top: 917px;
    left: 20px;
    font-family: Lexend;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #1A1A1A;       
}
#header-title-7-7-3{
    position: absolute;
    width: 57px;
    height: 21px;
    top: 953px;
    left: 20px;
    font-family: Lexend;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 21px;
    color: #1A1A1A;
}
#header-title-7-7-4{
    position: absolute;
    width: 51px;
    height: 15px;
    top: 958px;
    left: 189px;
    font-family: Lexend;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #1A1A1A;
}
#header-title-7-8{
    position: absolute;
    width: 280px;
    height: 285px;
    top: 612px;
    left: 305px;
    background: url('/images/buy/background.png');
}
#header-title-7-8-1{
    position: absolute;
    width: 20px;
    height: 18px;
    top: 632px;
    left: 540px;
}
#header-title-7-8-2{
    position: absolute;
    width: 240px;
    height: 18px;
    top: 917px;
    left: 320px;
    font-family: Lexend;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #1A1A1A;       
}
#header-title-7-8-3{
    position: absolute;
    width: 57px;
    height: 21px;
    top: 953px;
    left: 320px;
    font-family: Lexend;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 21px;
    color: #1A1A1A;
}
#header-title-7-8-4{
    position: absolute;
    width: 51px;
    height: 15px;
    top: 958px;
    left: 515px;
    font-family: Lexend;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #1A1A1A;
}
#header-title-7-9{
    position: absolute;
    width: 280px;
    height: 285px;
    top: 612px;
    left: 600px;
    background: url('/images/buy/background.png');
}
#header-title-7-9-1{
    position: absolute;
    width: 20px;
    height: 18px;
    top: 632px;
    left: 840px;
}
#header-title-7-9-2{
    position: absolute;
    width: 240px;
    height: 18px;
    top: 917px;
    left: 620px;
    font-family: Lexend;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #1A1A1A;       
}
#header-title-7-9-3{
    position: absolute;
    width: 57px;
    height: 21px;
    top: 953px;
    left: 620px;
    font-family: Lexend;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 21px;
    color: #1A1A1A;
}
#header-title-7-9-4{
    position: absolute;
    width: 51px;
    height: 15px;
    top: 958px;
    left: 808px;
    font-family: Lexend;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #1A1A1A;
}
#header-title-7-10{
    position: absolute;
    width: 280px;
    height: 285px;
    top: 612px;
    left: 900px;
    background: url('/images/buy/background.png');
}
#header-title-7-10-1{
    position: absolute;
    width: 20px;
    height: 18px;
    top: 632px;
    left: 1140px;
}
#header-title-7-10-2{
    position: absolute;
    width: 240px;
    height: 18px;
    top: 917px;
    left: 920px;
    font-family: Lexend;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #1A1A1A;       
}
#header-title-7-10-3{
    position: absolute;
    width: 57px;
    height: 21px;
    top: 953px;
    left: 920px;
    font-family: Lexend;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 21px;
    color: #1A1A1A;
}
#header-title-7-10-4{
    position: absolute;
    width: 51px;
    height: 15px;
    top: 958px;
    left: 1108px;
    font-family: Lexend;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #1A1A1A;
}
.header-title-7-0-1{
    position: absolute;
    width: 580px;
    height: 418px;
    left: 0px;
    top: 0px;
    background:#9BF0E1;
}
.header-title-7-0-2{
    position: absolute;
    width: 580px;
    height: 418px;
    top: 0;
    left: 600px;
    background-color: #AEEBFF;
}
.header-title-7-0-3{
    position: absolute;
    width: 580px;
    height: 418px;
    top: 440px;
    left: 0px;
}
#header-title-7-11{
    position: absolute;
    width: 580px;
    height: 418px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) -5.86%, rgba(0, 0, 0, 0) 119.62%);
}
#header-title-7-11-1{
    position: absolute;
    width: 82px;
    height: 18px;
    top: 80px;
    left: 100px;
    font-family: Lexend;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF
}
#header-title-7-11-2{
    position: absolute;
    width: 40px;
    height: 0px;
    top: 80px;
    left: 180px;
    color: #FFFFFF;
}
#header-title-7-11-3{
    position: absolute;
    width: 236px;
    height: 65px;
    top: 106px;
    left: 100px;
    font-family: Lexend;
    font-style: normal;
    font-weight: 600;
    font-size: 52px;
    line-height: 65px;
    color: #FFFFFF;
}
#header-title-7-11-4{
    position: absolute;
    width: 212px;
    height: 65px;
    top: 179px;
    left: 200px;
    font-family: Lexend;
    font-style: normal;
    font-weight: 600;
    font-size: 52px;
    line-height: 65px;
    color: #FFFFFF;
}
#header-title-7-11-5{
    position: absolute;
    width: 121px;
    height: 38px;
    top: 300px;
    left: 100px;
    font-family: Lexend;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    background-color: #FFFFFF;
    text-align: center;
    padding-top: 10px;
    color: #1A1A1A;
}
#header-title-7-12{
    position: absolute;
    width: 580px;
    height: 418px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) -5.86%, rgba(0, 0, 0, 0) 119.62%);
}
#header-title-7-12-1{
    position: absolute;
    width: 82px;
    height: 18px;
    top: 80px;
    left: 100px;
    font-family: Lexend;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF
}
#header-title-7-12-2{
    position: absolute;
    width: 40px;
    height: 0px;
    top: 80px;
    left: 150px;
    color: #FFFFFF;
}
#header-title-7-12-3{
    position: absolute;
    width: 236px;
    height: 65px;
    top: 106px;
    left: 100px;
    font-family: Lexend;
    font-style: normal;
    font-weight: 600;
    font-size: 52px;
    line-height: 65px;
    color: #FFFFFF;
}
#header-title-7-12-4{
    position: absolute;
    width: 212px;
    height: 65px;
    top: 179px;
    left: 200px;
    font-family: Lexend;
    font-style: normal;
    font-weight: 600;
    font-size: 52px;
    line-height: 65px;
    color: #FFFFFF;
}
#header-title-7-12-5{
    position: absolute;
    width: 121px;
    height: 38px;
    top: 300px;
    left: 100px;
    font-family: Lexend;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    background-color: #FFFFFF;
    text-align: center;
    padding-top: 10px;
    color: #1A1A1A;
}
#header-title-7-13{
    position: absolute;
    width: 580px;
    height: 416px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) -5.86%, rgba(0, 0, 0, 0) 119.62%);
}
#header-title-7-13-1{
    position: absolute;
    width: 28.45px;
    height: 36.14px;
    top: 190.43px;
    left: 277.9px;
    color: #FFFFFF;
}
#header-title-7-13-2{
    position: absolute;
    width: 96.73px;
    height: 97px;
    top: 160px;
    left: 239.97px;
    color: #FFFFFF;
}
#header-title-7-14{
    position: absolute;
    width: 179px;
    height: 65px;
    top: 478px;
    left: 700px;
    font-family: Lexend;
    font-style: normal;
    font-weight: 600;
    font-size: 52px;
    line-height: 65px;
    text-align: center;
    color: #1A1A1A;
}
#header-title-7-14-1{
    position: absolute;
    width: 366px;
    height: 65px;
    left: 700px;
    top: 543px;
    font-family: Lexend;
    font-style: normal;
    font-weight: 600;
    font-size: 52px;
    line-height: 65px;
    text-align: center;
    color: #1A1A1A;
}
#header-title-7-14-2{
    position: absolute;
    width: 380px;
    height: 90px;
    left: 700px;
    top: 632px;
    font-family: Lexend;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.01em;
    color: #1A1A1A;
}
#header-title-7-14-3{
    position: absolute;
    width: 87px;
    height: 28px;
    left: 732px;
    top: 788px;
    font-family: Lexend;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 5px;
    background-color: #1A1A1A;
}
.header-8{
    position: absolute;
    width: 1440px;
    height: 236px;
    top: 2330px;
    background-color: #FFFFFF;
}
#header-title-8-1{
    position: absolute;
    width: 87px;
    height: 18px;
    left: 330px;
    top: 80px;
    font-family: Lexend;
    font-style: normal; 
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    color: #1A1A1A;
}
#header-title-8-2{
    position: absolute;
    width: 40px;
    height: 0px;
    left: 426px;
    top: 76px;
}
#header-title-8-3{
    position: absolute;
    width: 197px;
    height: 50px;
    left: 327px;
    top: 106px;
    font-family: Lexend;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    color: #1A1A1A;
}
#email{
    position: absolute;
    width: 480px;
    height: 38px;
    left: 630px;
    top: 99px;
    background: #FFFFFF;
    border: 1px solid #9A9A9A;
    box-sizing: border-box;
}
#email-1{
    position: absolute;
    width: 126px;
    height: 38px;
    background: #1A1A1A;
    top: 99px;
    left: 985px;
    font-family: Lexend;
    font-style: normal;
    font-weight: normal;
    padding-top: 11px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
}
#email-2{
    position: absolute;
    width: 141px;
    height: 18px;
    left: 646px;
    top: 109px;
    font-family: Lexend;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #9A9A9A;
}
.header-9{
    position: absolute;
    width: 1440px;
    height: 523px;
    top: 2566px;
    background: #1A1A1A;
}
#header-title-9-0{
    position: absolute;
    width: 120px;
    height: 50px;
    left: 130px;
    top: 80px;
    font-family: Germania One;
    font-style: normal;
    font-weight: normal;
    font-size: 43px;
    line-height: 50px;
    color: #FFFFFF;
}
#header-title-9-1{
    position: absolute;
    width: 48px;
    height: 20px;
    left: 130px;
    top: 190px;
    font-family: Lexend;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}
#header-title-9-1-0{
    position: absolute;
    width: 80px;
    height: 0px;
    left: 130px;
    top: 222px;
    color: #FFFFFF;
}
#header-title-9-1-1{
    position: absolute;
    width: 59px;
    height: 18px;
    left: 130px;
    top: 246px;
    font-family: Lexend;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}
#header-title-9-1-2{
    position: absolute;
    width: 70px;
    height: 18px;
    left: 130px;
    top: 276px;
    font-family: Lexend;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}
#header-title-9-1-3{
    position: absolute;
    width: 54px;
    height: 18px;
    left: 130px;
    top: 306px;
    font-family: Lexend;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF; 
}
#header-title-9-1-4{ 
    position: absolute;
    width: 66px;
    height: 18px;
    left: 130px;
    top: 336px;
    font-family: Lexend;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF; 
}
#header-title-9-1-5{
    position: absolute;
    width: 63px;
    height: 18px;
    left: 130px;
    top: 370px;
    font-family: Lexend;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}
#header-title-9-1-6{
    position: absolute;
    width: 59px;
    height: 18px;
    left: 290px;
    top: 246px;
    font-family: Lexend;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}
#header-title-9-1-7{
    position: absolute;
    width: 59px;
    height: 18px;
    left: 290px;
    top: 276px;
    font-family: Lexend;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}   
#header-title-9-1-8{
    position: absolute;
    width: 44px;
    height: 18px;
    left: 290px;
    top: 306px;
    font-family: Lexend;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}
#header-title-9-1-9{
    position: absolute;
    width: 31px;
    height: 18px;
    left: 290px;
    top: 336px;
    font-family: Lexend;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}
#header-title-9-2{
    position: absolute;
    width: 44px;
    height: 20px;
    left: 530px;
    top: 190px;
    font-family: Lexend;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}
#header-title-9-2-0{
    position: absolute;
    width: 80px;
    height: 0px;
    left: 530px;
    top: 222px;
    color: #FFFFFF;
}
#header-title-9-2-1{
    position: absolute;
    width: 160px;
    height: 18px;
    left: 530px;
    top: 246px;
    font-family: Lexend;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}
#header-title-9-2-2{
    position: absolute;
    width: 123px;
    height: 18px;
    left: 530px;
    top: 276px;
    font-family: Lexend;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}
#header-title-9-2-3{
    position: absolute;
    width: 135px;
    height: 18px;
    left: 530px;
    top: 306px;
    font-family: Lexend;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}
#header-title-9-2-4{
    position: absolute;
    width: 180px;
    height: 36px;   
    left: 530px;
    top: 336px;
    font-family: Lexend;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;  
    color: #FFFFFF;
}
#header-title-9-3{
    position: absolute;
    width: 85px;
    height: 20px;
    left: 830px;
    top: 190px;
    font-family: Lexend;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}
#header-title-9-3-0{
    position: absolute;
    width: 120px;
    height: 0px;
    left: 830px;
    top: 222px;
    color: #FFFFFF;
}
#header-title-9-3-1{         
    position: absolute;
    width: 38px;
    height: 18px;
    left: 866px;
    top: 246px;
    font-family: Lexend;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}
#header-title-9-3-2{
    position: absolute;
    width: 74px;
    height: 18px;
    left: 866px;
    top: 280px;
    font-family: Lexend;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}
#header-title-9-3-3{
    position: absolute;
    left: 827.7px;
    top: 245px;
    color: #FFFFFF;
}
#header-title-9-3-4{
    position: absolute;
    left: 827.7px;
    top: 280px;
    color: #FFFFFF; 
}
#header-title-9-4{    
    position: absolute;
    width: 77px;
    height: 18px;
    left: 1130px;
    top: 190px;
    font-family: Lexend;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}
#header-title-9-4-0{
    position: absolute;
    width: 100px;
    height: 0px;
    left: 1130px;
    top: 220px;
    color: #FFFFFF;
}
#header-title-9-4-1{
    position: absolute;
    width: 16px;
    height: 16px;
    left: 1130px;
    top: 246px;
    color: #FFFFFF;
}
#header-title-9-4-2-1{
    position: absolute;
    left: 1161.89px;
    top: 249.89px;
    color: #FFFFFF;
}
#header-title-9-4-2-2{
    position: absolute;
    left: 1169.31px;
    top: 248.77px;
    color: #FFFFFF;
}
#header-title-9-4-2-3{
    position: absolute;
    left: 1158.5px;
    top: 246px;
    color: #FFFFFF;
}
#header-title-9-4-3{
    position: absolute;
    left: 1182.71px;
    top: 246px;
    color: #FFFFFF;
}
#header-title-9-4-4{
    position: absolute;
    left: 1214px;
    top: 247.5px;
    color: #FFFFFF;
}
#header-title-9-4-5{
    position: absolute;
    left: 1242px;
    top: 246.12px;
    color: #FFFFFF;
}
#header-title-9-4-6{
    position: absolute;
    left: 1270px;
    top: 246px;
    color: #FFFFFF;
}
#header-title-9-5{
    position: absolute;
    width: 1180px;
    top: 468px;
    left: 130px;
    right: 130px;
    color: #FFFFFF;
}
#header-title-9-6{
    position: absolute;
    width: 249px;
    height: 15px;
    left: 130px;
    top: 488px;
    font-family: Lexend;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    padding-top: 20px;
}
